
.container-fluid{
    background-color: $negro2037;
}
.header{
    display: flex;
    justify-content: center;
    height: 10vh;
 }
 .menu{
    display: flex;
    background-color: $negro2037;
    text-decoration: none;
    height: 20vh;
    justify-content: center;
    flex-wrap: wrap;
    
}
.navbar{
    text-decoration: none;
    
.nav-item{
    color: $negro2037;
}
.nav-link{
    text-decoration: none;
    color: #fff;
}
.nav-link:hover{
    background-color: #222;
    text-decoration: underline #000;
    color: white;
}
.nav-item .nav-link .active{
    color: #000;
    background-color: #222;
} 
} 

.main{
    display: flex;
    flex-direction: row;
    height: 60vh;
    justify-content: center;
    row-gap: 20px;
    overflow: auto;
}

.productos{
    display: flex;
    flex-direction: row;
}
.itemProductos{
    background-color: $negro2037;
    height: auto;
}

.galeria{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.itemGaleria{
    background-color: transparent;
    height: auto;
    width: auto;
}

.itemGaleria:hover{
    box-shadow: 10px 10px #222;
}
.nosotros{
    display: flex;
    height: 60vh;
    justify-content: center;
}

.textonosotros{
    display: flex;
    color: #fff;
    background-color: transparent;
    flex-wrap: wrap;
    padding: 20px;
}

.newsletter{
    display: flex;
    height: 60vh;
    justify-content: center;
}
.contenedor-form{
    margin-top: 40px;
}

.pie{   
    display: flex;
    justify-content: center;
    height: 10vh;
}
.footer {
    color: #fff;
    background-color: transparent;
    align-self: center;

}
