*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        background-color: #000;
        font-family: 'Amatic SC';
}
.container{
    background-color: black;
}
.header{

 }
.home{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
.logo{

}

.menu{

}

ul {
    color: #000;
    list-style-type: none;
    text-decoration: none;
    background-color: transparent;
    text-align: center;  
}
ul li{
    float: left;
}
ul li a{
    color: white;
    padding: 20px 26px;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    background-color: #222;
    text-decoration: underline #000;
}
.active{
    background-color: #222;
}
.productos{
display: flex;
}
.galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 30px;
    flex-wrap: wrap;
    align-items: center;
}
.item{
    background-color: transparent;
    height: auto;
    margin: 20px;
}
.item:hover{
    box-shadow: 10px 10px #222;
    border: 5px solid #111;
}
.nosotros{
    display: flex;

}
.textonosotros{
    display: flex;
    color: #fff;
    background-color: transparent;
    height: 300px;
    flex-wrap: wrap;
    justify-content: center;

}
.newsletter{
    display: flex;
}
.contenedor-form{
    height: 300px;
    margin-top: 40px;
    justify-content: center;
}
.formu{
    color: #fff;
    align-self: center;
    
}
.pie{   
    display: flex;
    justify-content: center;
}
.footer {
    color: #fff;
    background-color: transparent;
    float: left;
    align-self: center;

}


